@import url("https://fonts.googleapis.com/css2?family=Anuphan&display=swap");

.todo {
 
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  input {
    width: 30rem;
    height: 2.5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 1rem;
    padding-left: 1rem;
    font-size: 16px;

    &:focus {
      box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
      outline: none;
    }
  }
  .todo-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    color: #fff;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    border: none;
   margin-top: 1.2rem;
    margin-left: -2.5rem;
    font-family: "Anuphan", sans-serif;
    font-size: 1.3rem;
  }
}
